name: 'Build application'
on: 
  status:
  check_run:
  push:
    branches:
      - '*'
      - '!master'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  publish:
    name: 'Publish Image'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        if: github.event_name == 'push'
        uses: actions/checkout@master

      - name: Build and push image
        if: github.event_name == 'push'
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          CONTAINER_NAME: helloworld
        run: |
          export date=`date +'%Y%m%d%H%M%S'`
          export branch=`echo ${GITHUB_REF#refs/heads/}`
          export tag="$DOCKER_USERNAME/$CONTAINER_NAME:${branch}-${date}.${{github.run_id}}.${GITHUB_SHA::7}"

          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
          docker build -t  $tag .
          docker push $tag